.card{
  min-height: 20vh;
  cursor: pointer;
  border-radius: 20px !important;
  box-shadow: 3px 3px #ccc;
}

.badge{
  border-radius: 20px;
  background-color: #d4d9de !important;
  color: #262625;
  font-weight: 500;
}

.color{
  height: 15px;
  width: 15px;
  background-color: #d4d9de;
  border-radius: 50%;
}

ul{
  list-style: none;
  display: inline-flex;
}
